############################
# os x
############################

.ds_store
.appledouble
.lsoverride
icon
.spotlight-v100
.trashes
._*


############################
# linux
############################

*~


############################
# windows
############################

thumbs.db
ehthumbs.db
desktop.ini
$recycle.bin/
*.cab
*.msi
*.msm
*.msp


############################
# packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid


############################
# logs and databases
############################

.tmp
*.log
*.sql
*.sqlite
*.sqlite3


############################
# misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# tests
############################

testapp
coverage

############################
# strapi
############################

.env
license.txt
exports
*.cache
build
.strapi-updater.json
